<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>unit Farming</title>

	<!-- Custom CSS -->
	<link href="files/css/normalize.css" rel="stylesheet">
	<link href="files/css/ef.css" rel="stylesheet">

	<script src="files/js/lodash.min.js"></script>
	<script src="files/js/vue.min.js"></script>
	<script src="files/js/sortable.js"></script>
	<script src="files/js/data.js" defer></script>

	<script>
	</script>
</head>

<body>
<div id="app" class="container">
	<div id="tierListContainer">
		<h4>Tier List</h4><span>Drag to re-order, uncheck to disable</span>
		<ol id="tierList" v-sortable="{onEnd: reorderUnitList}">
			<li v-for="unit in unitList" :key="unit.name" :class="unit.farm ? '' : 'disabled'"><img :src="`files/img/${unit.img}.png`"><span>{{ unit.name }}</span><input type="checkbox" v-model="unit.farm" @change="updateFarmList()"></li>
		</ol><button @click="resetTierList">Reset</button></div>
	<div id="inputsContainer">
		<div id="farmList">
			<h4>Optimal Quantity</h4><span>Stages to farm are highlighted above</span>
			<div class="farmRow" v-for="unit in farmList" :key="unit.name"><img :src="`files/img/${unit.img}.png`"> <span id="farmCount">x{{ unit.farmableFrags}}</span> <span id="daysRemaining">({{ unit.daysRemaining }} days)</span></div><button @click="addFarmedFrags()">Add</button></div>
	</div>
	<div id="unitInputs">
		<div class="unitInput" v-for="unit in orderedUnitList"><a :href="`https://www.endlessfrontierdata.com/units/${unit.img}`" :class="unit.fragments < 10 ? 'zeroStar' : unit.fragments < 30 ? 'oneStar' : unit.fragments < 80 ? 'twoStar' : unit.fragments < 180 ? 'threeStar' : unit.fragments < 330 ? 'fourStar' : 'fiveStar'"><img :src="`files/img/${unit.img}.png`"></a>
			<div><span class="unitName">{{ unit.name }}</span><br>
				<fieldset class="starcounter"><input type="radio" :id="`${unit.name.replace(' ','')}-5star`" :name="`${unit.name.replace(' ','')}`" value="330" :checked="unit.fragments >= 330" @change="unit.fragments=330;updateFarmList()" /><label :for="`${unit.name.replace(' ','')}-5star`"><img src="files/img/star.png"></label><input
						type="radio" :id="`${unit.name.replace(' ','')}-4star`" :name="`${unit.name.replace(' ','')}`" value="180" :checked="unit.fragments >= 180 && unit.fragments < 330" @change="unit.fragments=180;updateFarmList()" /><label :for="`${unit.name.replace(' ','')}-4star`"><img src="files/img/star.png"></label><input
						type="radio" :id="`${unit.name.replace(' ','')}-3star`" :name="`${unit.name.replace(' ','')}`" value="80" :checked="unit.fragments >= 80 && unit.fragments < 180" @change="unit.fragments=80;updateFarmList()" /><label :for="`${unit.name.replace(' ','')}-3star`"><img src="files/img/star.png"></label><input
						type="radio" :id="`${unit.name.replace(' ','')}-2star`" :name="`${unit.name.replace(' ','')}`" value="30" :checked="unit.fragments >= 30 && unit.fragments < 80" @change="unit.fragments=30;updateFarmList()" /><label :for="`${unit.name.replace(' ','')}-2star`"><img src="files/img/star.png"></label><input
						type="radio" :id="`${unit.name.replace(' ','')}-1star`" :name="`${unit.name.replace(' ','')}`" value="10" :checked="unit.fragments >= 10 && unit.fragments < 30" @change="unit.fragments=10;updateFarmList()" /><label :for="`${unit.name.replace(' ','')}-1star`"><img src="files/img/star.png"></label></fieldset>
				<input
					v-model.number="unit.fragments" @change="updateFarmList()" type="number" step="1" min="0" max="999" style="clear:both;"><br /></div>
		</div>
	</div>
</div>
</body>

</html>