<!DOCTYPE html>
<html lang="en">
<!-- Template by quackit.com -->
<!-- Project sourced heavily from https://jared-g.github.io/pet-farming/ -->
<!-- https://noppadet.github.io/unit-tracker/ -->
<!-- Noppadet #0948-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Endless Frontier Unit Calculator</title>

	<!-- Custom CSS -->
	<link href="files/css/normalize.css" rel="stylesheet">
	<link href="files/css/ef.css" rel="stylesheet">

	<script src="files/js/lodash.min.js"></script>
	<script src="files/js/vue.min.js"></script>
	<script src="files/js/sortable.js"></script>
	<script src="files/js/data.js" defer></script>

	<script>
	</script>
</head>

<body>
<div id="app" class="container">
	<div id="tierListContainer">
		<h4>Tier List</h4><span>Drag to re-order, uncheck to disable</span>
		<ol id="tierList" v-sortable="{onEnd: reorderUnitList}">
			<li v-for="unit in unitList" :key="unit.name" :class="unit.farm ? '' : 'disabled'"><img :src="`files/img/${unit.img}.png`"><span>{{ unit.name }}</span><input type="checkbox" v-model="unit.farm" @change="updateFarmList()"></li>
		</ol>
		<button @click="resetTierList">Reset</button>
	</div>
	<div id="inputsContainer">
		<div id="farmList">
			<h4>Quantity left to farm</h4>
			<div class="farmRow" v-for="unit in farmList" :key="unit.name"><img :src="`files/img/${unit.img}.png`"> <span id="farmCount">x{{ unit.numberLeftToFarm }}</span></div>
	</div>
	<div id="unitInputs">
		<div class="unitInput" v-for="unit in orderedUnitList"><a :href="`https://www.endlessfrontierdata.com/units/${unit.img}`" :class="unit.qtyOwned == 0 ? 'zeroStar' : unit.qtyOwned >= unit.optimalQty ? 'fiveStar' : unit.qtyOwned > unit.optimalQty - 2 ? 'fourStar' : unit.qtyOwned > unit.optimalQty / 2 ? 'threeStar' : unit.qtyOwned > unit.optimalQty / 3 ? 'twoStar' : 'oneStar'"><img :src="`files/img/${unit.img}.png`"></a>
			<div><span class="unitName">{{ unit.name }}</span><br>
				<input
					v-model.number="unit.qtyOwned" @change="updateFarmList()" type="number" step="1" min="0" max="999" style="clear:both;"><br />
			</div>
		</div>
	</div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121946705-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121946705-1');
</script>
</body>

</html>